.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;

  label {
    font-size: large;
    color: #333;
    font-weight: 600;
  }

  .required {
    color: red;
    margin-left: 4px;
  }

  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;

    &:focus {
      outline: none;
      border-color: #0070f3;
    }
  }
  .error {
    border-color: red !important;
  }

  .disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;
  }

  .errorText {
    font-size: 14px;
    color: red;
    margin: 2px 0 0 0;
  }
}